@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
  /* Spacing design system */
  --spacing: 1rem; /* Colleague */
  --spacing-s: calc(var(--spacing) / 2); /* Friend */
  --spacing-l: calc(var(--spacing) * 2); /* Social */
  --spacing-xl: calc(var(--spacing-l) * 2); /* The Boss */

  /* Scales */
  --scale: 1rem;
  --scale-s: calc(var(--scale) / 1.6);
  --scale-xs: calc(var(--scale-s) / 1.6);
  --scale-l: calc(var(--scale) * 1.6);
  --scale-xl: calc(var(--scale-l) * 1.6);
  --scale-xxl: calc(var(--scale-xl) * 1.6);

  /* Colors */
  --primary: 31, 173, 255;
  --primary-complement: 31, 255, 227;
  --secondary: 255, 171, 51;
  --secondary-complement: 255, 212, 51;
  --contrast: 245, 45, 118;
  --contrast-complement: 255, 51, 191;

  --foreground: 255, 255, 255;
  --background: 0, 0, 0;

  --primary-variant-25: 0, 46, 71;
  --primary-variant-33: 0, 61, 97;
  --primary-variant-50: 0, 90, 143;
  --primary-variant-66: 0, 121, 191;
  --primary-variant-75: 0, 135, 214;
  --primary-complement-variant-25: 0, 71, 62;
  --primary-complement-variant-33: 0, 97, 85;
  --primary-complement-variant-50: 0, 143, 125;
  --primary-complement-variant-66: 0, 191, 167;
  --primary-complement-variant-75: 0, 214, 187;

  --secondary-variant-25: 76, 44, 0;
  --secondary-variant-33: 104, 61, 0;
  --secondary-variant-50: 153, 89, 0;
  --secondary-variant-66: 205, 120, 0;
  --secondary-variant-75: 229, 134, 0;
  --secondary-complement-variant-25: 76, 60, 0;
  --secondary-complement-variant-33: 104, 82, 0;
  --secondary-complement-variant-50: 153, 120, 0;
  --secondary-complement-variant-66: 205, 161, 0;
  --secondary-complement-variant-75: 229, 181, 0;

  --contrast-variant-25: 69, 3, 27;
  --contrast-variant-33: 94, 4, 37;
  --contrast-variant-50: 138, 6, 54;
  --contrast-variant-66: 185, 8, 73;
  --contrast-variant-75: 207, 9, 82;
  --contrast-complement-variant-25: 76, 0, 52;
  --contrast-complement-variant-33: 104, 0, 71;
  --contrast-complement-variant-50: 153, 0, 105;
  --contrast-complement-variant-66: 205, 0, 140;
  --contrast-complement-variant-75: 229, 0, 157;

  --foreground-variant-25: 63, 63, 63;
  --foreground-variant-33: 86, 86, 86;
  --foreground-variant-50: 127, 127, 127;
  --foreground-variant-66: 170, 170, 170;
  --foreground-variant-75: 191, 191, 191;
}

body {
  font-family: "Arimo", system-ui;
  font-weight: normal;
  color: rgb(var(--foreground));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: currentColor;
}
