.container {
}

.container[data-boxed="true"] {
  backdrop-filter: var(--backdrop);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Themes */
/* ------------------------------------------------------------------------------------------------------------------ */

.container[data-boxed="true"][data-theme="default"] {
  background-color: rgba(var(--foreground-variant-33), 0.5);
}
.container[data-boxed="true"][data-theme="primary"] {
  background-color: rgba(var(--primary-complement-variant-33), 0.5);
}
.container[data-boxed="true"][data-theme="secondary"] {
  background-color: rgba(var(--secondary-complement-variant-33), 0.5);
}
.container[data-boxed="true"][data-theme="contrast"] {
  background-color: rgba(var(--contrast-complement-variant-33), 0.5);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Scales */
/* ------------------------------------------------------------------------------------------------------------------ */

.container[data-boxed="true"][data-scale="smaller"] {
  border-radius: var(--scale-xs);
}
.container[data-boxed="true"][data-scale="small"] {
  border-radius: var(--scale-s);
}
.container[data-boxed="true"][data-scale="normal"] {
  border-radius: var(--scale);
}
.container[data-boxed="true"][data-scale="large"] {
  border-radius: var(--scale-l);
}
.container[data-boxed="true"][data-scale="x-large"] {
  border-radius: var(--scale-xl);
}
.container[data-boxed="true"][data-scale="xx-large"] {
  border-radius: var(--scale-xxl);
}
