.typography {
  font-family: "Arimo", system-ui;
  font-weight: normal;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Themes */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-theme="default"] {
  --color-variant-25: var(--foreground-variant-25);
  --color-variant-33: var(--foreground-variant-33);
  --color-variant-50: var(--foreground-variant-50);
  --color-variant-66: var(--foreground-variant-66);
  --color-variant-75: var(--foreground-variant-75);
  --color-variant-100: var(--foreground);

  --color-complement-variant-25: var(--foreground-variant-25);
  --color-complement-variant-33: var(--foreground-variant-33);
  --color-complement-variant-50: var(--foreground-variant-50);
  --color-complement-variant-66: var(--foreground-variant-66);
  --color-complement-variant-75: var(--foreground-variant-75);
  --color-complement-variant-100: var(--foreground);
}
.typography[data-theme="primary"] {
  --color-variant-25: var(--primary-variant-25);
  --color-variant-33: var(--primary-variant-33);
  --color-variant-50: var(--primary-variant-50);
  --color-variant-66: var(--primary-variant-66);
  --color-variant-75: var(--primary-variant-75);
  --color-variant-100: var(--primary);

  --color-complement-variant-25: var(--primary-complement-variant-25);
  --color-complement-variant-33: var(--primary-complement-variant-33);
  --color-complement-variant-50: var(--primary-complement-variant-50);
  --color-complement-variant-66: var(--primary-complement-variant-66);
  --color-complement-variant-75: var(--primary-complement-variant-75);
  --color-complement-variant-100: var(--primary-complement);
}
.typography[data-theme="secondary"] {
  --color-variant-25: var(--secondary-variant-25);
  --color-variant-33: var(--secondary-variant-33);
  --color-variant-50: var(--secondary-variant-50);
  --color-variant-66: var(--secondary-variant-66);
  --color-variant-75: var(--secondary-variant-75);
  --color-variant-100: var(--secondary);

  --color-complement-variant-25: var(--secondary-complement-variant-25);
  --color-complement-variant-33: var(--secondary-complement-variant-33);
  --color-complement-variant-50: var(--secondary-complement-variant-50);
  --color-complement-variant-66: var(--secondary-complement-variant-66);
  --color-complement-variant-75: var(--secondary-complement-variant-75);
  --color-complement-variant-100: var(--secondary-complement);
}
.typography[data-theme="contrast"] {
  --color-variant-25: var(--contrast-variant-25);
  --color-variant-33: var(--contrast-variant-33);
  --color-variant-50: var(--contrast-variant-50);
  --color-variant-66: var(--contrast-variant-66);
  --color-variant-75: var(--contrast-variant-75);
  --color-variant-100: var(--contrast);

  --color-complement-variant-25: var(--contrast-complement-variant-25);
  --color-complement-variant-33: var(--contrast-complement-variant-33);
  --color-complement-variant-50: var(--contrast-complement-variant-50);
  --color-complement-variant-66: var(--contrast-complement-variant-66);
  --color-complement-variant-75: var(--contrast-complement-variant-75);
  --color-complement-variant-100: var(--contrast-complement);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Variants */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-variant="25"] {
  color: rgb(var(--color-variant-25));
}
.typography[data-variant="33"] {
  color: rgb(var(--color-variant-33));
}
.typography[data-variant="50"] {
  color: rgb(var(--color-variant-50));
}
.typography[data-variant="66"] {
  color: rgb(var(--color-variant-66));
}
.typography[data-variant="75"] {
  color: rgb(var(--color-variant-75));
}
.typography[data-variant="100"] {
  color: rgb(var(--color-variant-100));
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Sizes */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-size="none"] {
  font-size: 0;
}
.typography[data-size="smaller"] {
  font-size: var(--scale-xs);
}
.typography[data-size="small"] {
  font-size: var(--scale-s);
}
.typography[data-size="normal"] {
  font-size: var(--scale);
}
.typography[data-size="large"] {
  font-size: var(--scale-l);
}
.typography[data-size="x-large"] {
  font-size: var(--scale-xl);
}
.typography[data-size="xx-large"] {
  font-size: var(--scale-xxl);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Gradients */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-gradient] {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    rgb(var(--gradient-1)) 0%,
    rgb(var(--gradient-2)) 50%,
    rgb(var(--gradient-3)) 100%
  );
}
.typography[data-gradient="default"] {
  --gradient-1: var(--foreground-variant-75);
  --gradient-2: var(--foreground);
  --gradient-3: var(--foreground-variant-75);
}
.typography[data-gradient="primary"] {
  --gradient-1: var(--primary-variant-75);
  --gradient-2: var(--primary);
  --gradient-3: var(--primary-complement);
}
.typography[data-gradient="secondary"] {
  --gradient-1: var(--secondary-variant-75);
  --gradient-2: var(--secondary);
  --gradient-3: var(--secondary-complement);
}
.typography[data-gradient="contrast"] {
  --gradient-1: var(--contrast-variant-75);
  --gradient-2: var(--contrast);
  --gradient-3: var(--contrast-complement);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Glows */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-glow] {
  text-shadow: 0 0 1.6em rgb(var(--color-glow));
}
.typography[data-glow="default"] {
  --color-glow: var(--foreground);
}
.typography[data-glow="primary"] {
  --color-glow: var(--primary);
}
.typography[data-glow="secondary"] {
  --color-glow: var(--secondary);
}
.typography[data-glow="contrast"] {
  --color-glow: var(--contrast);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Decorations */
/* ------------------------------------------------------------------------------------------------------------------ */

.typography[data-bold="true"] {
  font-weight: 700;
}
.typography[data-italic="true"] {
  font-style: italic;
}

.typography[data-font="rubik-glitch"] {
  font-family: "Rubik Glitch", system-ui;
}
